
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>Đóm Chúa</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trangchu">Bản thân</a></li>
            <li><a href="~/gioithieunhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <table>
            <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
            </thead>
            <tbody>
                <tr>
                    <td>33</td>
                    <td>1822041279</td>
                    <td>NGuyễn Quốc Luân</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>1822041389</td>
                    <td>Vũ Hải Luân</td>
                </tr>
                <tr>
                    <td>34</td>
                    <td>1822041379</td>
                    <td>Nguyễn Hoàng Đăng Khoa</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<footer>
    <p>Copyright &copy;@DateTime.Now.Year</p>
</footer>
