@{
    ViewData["Title"] = "Home Page";
}

<header>
    <h2>Đóm Chúa</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trangchu">Bản thân</a></li>
            <li><a href="~/gioithieunhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
        <h1>Vũ Hải Luân</h1>
    </article>
</section>

<footer>
    <p>Copyright &copy; @DateTime.Now.Year</p>
</footer>
